<div class="row">
	<div class="col-md-12">
		<div class="form-wizard">
			<div class="form-wizard-header">
				<ul class="list-unstyled form-wizard-steps clearfix">
					<ng-container *ngFor="let s of stepList">
						<li [ngClass]="s.isComplete ? 'active' : ''"><span [innerHTML] = "s.icon"></span></li>
					</ng-container>
				</ul>
			</div>
		</div>
	</div>
</div>
<ng-container *ngIf="activeStep === 1">
<form>
	<div class="card">
		<div class="p-2 bg-info bg-opacity-10 border-bottom border-dark">
			<div class="row mt-2">
				<div class="col-md-6">
					<h6>Personal Information</h6>
				</div>
			</div>
		</div>
		<div class="card-body p-3">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name" class="form-label">First Name</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="age" class="form-label">Last Name</label>
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name" class="form-label">Date of Birth</label>
						<input type="datetime-local" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="age" class="form-label d-grid">Gender</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="gender">
							<label class="form-check-label" for="inlineRadio1">Male</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="text-center mt-3">
				<button type="submit" class="btn btn-primary" (click)="onNext(activeStep)">Next<i
						class="bi bi-box-arrow-right"></i></button>
			</div>
		</div>
	</div>
</form>
</ng-container>

<ng-container *ngIf="activeStep === 2">
	<form>
		<div class="card">
			<div class="card-header">
				<div class="row mt-2">
					<div class="col-md-6">
						<h3>Employee form 2</h3>
					</div>
					<div class="col-md-6 text-end">
						<a class="btn btn-primary btn-sm" routerLink="/employee"><i class="bi bi-list"></i> List
							of
							employee</a>
					</div>
				</div>
			</div>
			<div class="card-body p-3">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name" class="form-label">Name</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="age" class="form-label">Age</label>
							<input type="number" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name" class="form-label">Country</label>
							<select class="form-select">
								<option value="">---select country---</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="age" class="form-label">State</label>
							<select class="form-select">
								<option value="">---select state---</option>

							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name" class="form-label">Date of Birth</label>
							<input type="datetime-local" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="age" class="form-label d-grid">Gender</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="gender">
								<label class="form-check-label" for="inlineRadio1">Male</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name" class="form-label d-grid">Hobbies</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="hobbies">
								<label class="form-check-label" for="inlineCheckbox1">s</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="age" class="form-label d-grid">Status</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox">
								<label class="form-check-label" for="inlineCheckbox1">Is Active</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="text-center mt-3">
					<button type="submit" class="btn btn-primary" (click)="onPrevious(activeStep)">Previous</button>
					<button type="submit" class="btn btn-primary ms-1" (click)="onNext(activeStep)">Next<i
							class="bi bi-box-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</form>
</ng-container>

<!-- <section class="wizard-section">
	<div class="row no-gutters">
		<div class="col-lg-12 col-md-12">
			<div class="form-wizard">
				<form action="" method="post" role="form">
					<div class="form-wizard-header">
						<p>Fill all form field to go next step</p>
						<ul class="list-unstyled form-wizard-steps clearfix">
							<ng-container *ngFor="let s of stepList">
								<li [ngClass]="s.isComplete ? 'active' : ''"><span>{{s.step}}</span></li>
							</ng-container>
						</ul>
					</div>
					<fieldset class="wizard-fieldset" [class.show]="activeStep === 1">
						<h5>Personal Information</h5>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="fname">
							<label for="fname" class="wizard-form-text-label">First Name*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="lname">
							<label for="lname" class="wizard-form-text-label">Last Name*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group">
							Gender
							<div class="wizard-form-radio">
								<input name="radio-name" id="radio1" type="radio">
								<label for="radio1">Male</label>
							</div>
							<div class="wizard-form-radio">
								<input name="radio-name" id="radio2" type="radio">
								<label for="radio2">Female</label>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="zcode">
							<label for="zcode" class="wizard-form-text-label">Zip Code*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group clearfix">
							<a (click)="onNext(activeStep)" class="form-wizard-next-btn float-right">Next</a>
						</div>
					</fieldset>
					<fieldset class="wizard-fieldset" [class.show]="activeStep === 2">
						<h5>Account Information</h5>
						<div class="form-group">
							<input type="email" class="form-control wizard-required" id="email">
							<label for="email" class="wizard-form-text-label">Email*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="username">
							<label for="username" class="wizard-form-text-label">User Name*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group">
							<input type="password" class="form-control wizard-required" id="pwd">
							<label for="pwd" class="wizard-form-text-label">Password*</label>
							<div class="wizard-form-error"></div>
							<span class="wizard-password-eye"><i class="far fa-eye"></i></span>
						</div>
						<div class="form-group">
							<input type="password" class="form-control wizard-required" id="cpwd">
							<label for="cpwd" class="wizard-form-text-label">Confirm Password*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group clearfix">
							<a class="form-wizard-previous-btn float-left" (click)="onPrevious(activeStep)">Previous</a>
							<a class="form-wizard-next-btn float-right" (click)="onNext(activeStep)">Next</a>
						</div>
					</fieldset>
					<fieldset class="wizard-fieldset" [class.show]="activeStep === 3">
						<h5>Bank Information</h5>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="bname">
							<label for="bname" class="wizard-form-text-label">Bank Name*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="brname">
							<label for="brname" class="wizard-form-text-label">Branch Name*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="acname">
							<label for="acname" class="wizard-form-text-label">Account Name*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="acon">
							<label for="acon" class="wizard-form-text-label">Account Number*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="form-group clearfix">
							<a class="form-wizard-previous-btn float-left" (click)="onPrevious(activeStep)">Previous</a>
							<a class="form-wizard-next-btn float-right" (click)="onNext(activeStep)">Next</a>
						</div>
					</fieldset>
					<fieldset class="wizard-fieldset" [class.show]="activeStep === 4">
						<h5>Payment Information</h5>
						<div class="form-group">
							Payment Type
							<div class="wizard-form-radio">
								<input name="radio-name" id="mastercard" type="radio">
								<label for="mastercard">Master Card</label>
							</div>
							<div class="wizard-form-radio">
								<input name="radio-name" id="visacard" type="radio">
								<label for="visacard">Visa Card</label>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control wizard-required" id="honame">
							<label for="honame" class="wizard-form-text-label">Holder Name*</label>
							<div class="wizard-form-error"></div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control wizard-required" id="cardname">
									<label for="cardname" class="wizard-form-text-label">Card Number*</label>
									<div class="wizard-form-error"></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control wizard-required" id="cvc">
									<label for="cvc" class="wizard-form-text-label">CVC*</label>
									<div class="wizard-form-error"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">Expiry Date</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<select class="form-control">
										<option value="">Date</option>
										<option value="">1</option>
										<option value="">2</option>
										<option value="">3</option>
										<option value="">4</option>
										<option value="">5</option>
										<option value="">6</option>
										<option value="">7</option>
										<option value="">8</option>
										<option value="">9</option>
										<option value="">10</option>
										<option value="">11</option>
										<option value="">12</option>
										<option value="">13</option>
										<option value="">14</option>
										<option value="">15</option>
										<option value="">16</option>
										<option value="">17</option>
										<option value="">18</option>
										<option value="">19</option>
										<option value="">20</option>
										<option value="">21</option>
										<option value="">22</option>
										<option value="">23</option>
										<option value="">24</option>
										<option value="">25</option>
										<option value="">26</option>
										<option value="">27</option>
										<option value="">28</option>
										<option value="">29</option>
										<option value="">30</option>
										<option value="">31</option>
									</select>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<select class="form-control">
										<option value="">Month</option>
										<option value="">jan</option>
										<option value="">Feb</option>
										<option value="">March</option>
										<option value="">April</option>
										<option value="">May</option>
										<option value="">June</option>
										<option value="">Jully</option>
										<option value="">August</option>
										<option value="">Sept</option>
										<option value="">Oct</option>
										<option value="">Nov</option>
										<option value="">Dec</option>
									</select>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<select class="form-control">
										<option value="">Years</option>
										<option value="">2019</option>
										<option value="">2020</option>
										<option value="">2021</option>
										<option value="">2022</option>
										<option value="">2023</option>
										<option value="">2024</option>
										<option value="">2025</option>
										<option value="">2026</option>
										<option value="">2027</option>
										<option value="">2028</option>
										<option value="">2029</option>
										<option value="">2030</option>
										<option value="">2031</option>
										<option value="">2032</option>
										<option value="">2033</option>
										<option value="">2034</option>
										<option value="">2035</option>
										<option value="">2036</option>
										<option value="">2037</option>
										<option value="">2038</option>
										<option value="">2039</option>
										<option value="">2040</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group clearfix">
							<a class="form-wizard-previous-btn float-left" (click)="onPrevious(activeStep)">Previous</a>
							<a class="form-wizard-submit float-right" (click)="onSubmit()">Submit</a>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section> -->